<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/home.css">
    <script defer src="CSS/app.js"></script>
</head>

<header>
    <div>
        <h1>MovieTracker</h1>
        <img></img>
    </div>
</header>

<body>
    <div>
        <div>
            <input type="text">
            <button>Login</button>
        </div>
        
        <form>
            <h2>Welcome to Our Movie Tracker API</h2>

            <p>This API is used to keep a watchlist of the movies you want to watch, and will allow you to View, Add, Edit, and delete Movies off your watchlist!</p>
            
            <div>
                <h3>This Project is developed by:</h3>
                <p>
                    Desmond Ho <br>
                    Cloue Macadangdang <br>
                    Christopher Mok <br>
                    Tamim Hemat <br>
                    Gabriel Walsh <br>
                    Morteza Rahimi-Mediseh
                </p>
            </div>
        </form>
    </div>
</body>