<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/home.css">
</head>
<body class="dark-theme">
    <nav>
        <div class="logolink">
            <a href="./home.html"><img src="../Assets/images/logo.png" alt="MovieTracker Logo"></a>
        </div>
        <div class="navheading">
            <h1>BCIT Computing, Spring 2022, ACIT 2911</h1>
        </div>
        <div class="githublink">
            <a href="https://github.com/chrismok17/2911-Group-5" target="_blank"><img src="../Assets/images/GitHubLogo.png" alt="GitHub Repository Logo and Link"></a>
        </div>
    </nav>
    
    <main>
        <h2>Welcome to Our Movie Tracker API</h1>

        <form action="/tracker/view" method="POST">
            
            <div id="usernameBoxAndBtn">
                <input required name="username"id="usernameBox" type="text" placeholder="Enter Username" value="">
                <button type="submit">Login</button>
            </div>
            <p id="loginText">Enter your username; An account will be created automatically if you do not have one.</p>
        </form>

        <p>This API is used to keep a watchlist of the movies you want to watch, and <br> will allow you to View, Add, Edit, and
            delete Movies off your watchlist!</p>

        <div class="developed-by-section">
            <h3>This Project is developed by:</h2>
            
            <ul>
                <li>Desmond Ho</li>
                <li>Cloue Macadangdang</li>
                <li>Christopher Mok</li>
                <li>Tamim Hemat</li>
                <li>Gabriel Walsh</li>
                <li>Morteza Rahimi-Mediseh</li>
            </ul>
        </div>
    </main>
</body>
