<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/home.css">
    <script defer src="CSS/app.js"></script>
</head>
<body>
    <nav>
        <a href="./home.html"><img src="../Assets/images/logo.png" alt="MovieTracker Logo"></a>
        <h1>BCIT Computing, Spring 2022, ACIT 2911</h1>
        <a href="https://github.com/chrismok17/2911-Group-5"><img src="../Assets/images/GitHubLogo.png" alt="GitHub Repository Logo and Link"></a>
    </nav>
    <h1>Welcome to Our Movie Tracker API</h1>
    <form action="#">
        <input type="text" placeholder="Enter Username">
        <button>Login</button>
    </form>
    <body>
        <p>This API is used to keep a watchlist of the movies you want to watch, and will allow you to View, Add, Edit, and
            delete Movies off your watchlist!</p>
        <h2>This Project is devevloped by:</h2>
        <p>
            Desmond Ho <br>
            Cloue Macadangdang <br>
            Christopher Mok <br>
            Tamim Hemat <br>
            Gabriel Walsh <br>
            Morteza Rahimi-Mediseh
        </p>
    </body>
</body>