<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/view.css">
    <title>View Movies</title>
</head>

<body class="dark-theme">
    <nav>
        <div class="logolink">
            <a href="./home.html"><img src="../Assets/images/logo.png" alt="MovieTracker Logo"></a>
        </div>
        <div class="navheading">
            <h1>BCIT Computing, Spring 2022, ACIT 2911</h1>
        </div>
        <div class="githublink">
            <a href="https://github.com/chrismok17/2911-Group-5" target="_blank"><img
                    src="../Assets/images/GitHubLogo.png" alt="GitHub Repository Logo and Link"></a>
        </div>
    </nav>
    <main>
        <div class="item_top">
            <h2>You Current Watchlist</h2>
            <button type="button">Add Movie</button>
        </div>
        <form>
            <ul class="categories">
                <li>Name</li>
                <li>Genre</li>
                <li>Release Date</li>
                <li>Status</li>
                <li>Actions</li>
            </ul>
        </form>
        <div class="categories_container">
            <ul class="movie_name">
                <li>Avengers</li>
                <li>Spongebooob</li>
            </ul>
            <ul class="movie_genre">
                <li>Action</li>
                <li>Horror</li>
            </ul>
            <ul class="movie_release_date">
                <li>2019</li>
                <li>2020</li>
            </ul>
            <ul class="movie_status">
                <li>released</li>
                <li>unreleased</li>
            </ul>
            <div class="movie_action">
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </div>
        </div>
    </main>
</body>
</html>