:root {
  --platinum: #e9ebea;
  --arctic-lime: #d2ff00;
  --bitter-lime: #b3f700;
  --lime-green: #00c41f;
  --eerie-black: #13181b;
  --silver: #c4c4c4;

  --nav-text-size: 1.4rem;
  --text-size: 1.2rem;
  --header-size: 1.7rem;
  --small-text-size: 0.9rem;
}

/* highlights */
::selection {
  color: rgb(0, 0, 0);
  background: #b3f700;
}

/*The use of this class and colors stored in variables ensures our ability to switch between color themes in the future.*/
.dark-theme {
  --bg-color: var(--eerie-black);
  --nav-bg-color: var(--bitter-lime);
  --text: var(--platinum);
  --text-alternative: var(--eerie-black);
}

/* This catch-all at the beginning removes all default margin and padding spacings to allow for maximum customizability later. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  height: 100%;
  width: 100%;
  min-width: 545px;
  font-family: "Roboto", sans-serif;

  /* using flexbox here in the column direction allows us to use the flex-grow attribute on the main element to enforce proper use of space. This will be especially helpful if/when we wish to implement a footer that is stickied to the bottom of the visible screen. */
  display: flex;
  flex-direction: column;
}

nav {
  /* using flexbox to align the navbar items in a horizontal line with even spaces inbetween */
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--nav-bg-color);
  color: var(--text-alternative);
  border-radius: 25px;
  padding: 1%;
  margin: 1%;
}

.logolink {
  padding-right : 5%; 
}

main {
  /* this flex-grow ensures that the main element uses up all available space in the body. This way, if in the future we add a footer element to the home.html body element, it will be positioned at the bottom instead of just underneath the last element inside the main element. */
  /* flex-grow: 1; */

  padding: 5% 3% 3% 3%;

  /* this use of flexbox allows us to center all the headers, paragraphs and forms. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: var(--nav-text-size);
  text-align: center;
}

h2 {
  font-size: var(--header-size);
  text-align: center;
}

/* main {
  flex-grow: 1;
  padding: 150px;
  font-size: var(--header-size);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */

form {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  background-color: var(--silver);
  border-radius: 10px;
}

.item_top {
  width: 80%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div > p {
  font-size: 1.7rem;
}

.form_row_container {
  height: 100%;
  width: 70%;

  list-style-type: none;
  color: var(--text-alternative);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
}

.form_rows {
  width: 85%;
  padding: 3% 2%;
  display: flex;
  justify-content: space-between;
}

/* add padding to github link logo to center the text*/
.githublink {
  padding-left: 20%;
}

button {
  background-color: var(--bitter-lime);
  border: none;
  color: var(--text-alternative);
  padding: 16px 50px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

button:hover,button:active{
  text-shadow: 0 1px 10px var(--arctic-lime);
  color: var(--arctic-lime);
  background-color: var(--eerie-black);
  box-shadow: 1px 1px 5px 2px var(--arctic-lime);
  border-radius: 5px;
}
/* Hover Effects for cancel button */
#cancel_btn {
  background-color: rgb(203, 65, 65);
  transition: all 0.2s ease-in-out;
}

#cancel_btn:hover,.delete_button:active{
  text-shadow: 0 1px 5px rgb(203, 65, 65);
  color: red;
  background-color: var(--eerie-black);
  box-shadow: 1px 1px 5px 2px red;
}

/* Input Animation */
input:focus {
	animation: glow 800ms ease-out infinite alternate;
	border-color: var(--arctic-lime);
	color: var(--arctic-lime);
	outline: none;
}
@keyframes glow {
  0% {
  border-color: var(--eerie-black);
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
  }	
  100% {
  border-color: var(--arctic-lime);
  box-shadow: 0 0 20px var(--arctic-lime), inset 0 0 10px var(--arctic-lime), 0 2px 0 #000;
  }
}








#yes_checkbox_round,
#no_checkbox_round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

#yes_checkbox_round:checked {
  background-color: var(--lime-green);
}
#no_checkbox_round:checked {
  background-color: rgb(234, 67, 67);
}

.hidden_forms {
  background-color: transparent;
}

.input_boxes {
  background-color: rgb(116, 115, 115);
  color: var(--arctic-lime);
  border-radius: 25px;
  width: 55%;
  text-align: center;
}

.form_rows_last {
  padding: 20px 0;
}


@media only screen and (max-width:480px){

  body {
    min-width: 450px;
  } 

  nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navheading {
    padding: 10px 0 5px 0;
    order: 3;
  }

  .githublink {
    padding: 0;
    order: 2;
  }

  .logolink {
    padding: 0;
    order: 1;
  }

  .item_top {
    flex-direction: column;
  }

  h2 {
    padding-bottom: 20px;
  }

  .form_row_container {
    width: 100%;
  }

  .form_rows {
    width: 90%;
    padding: 4% 2%;
  }

  div > p {
    font-size: 1.4rem;
  }

  h2 + form {
    padding-bottom: 3%;
  }

}