:root {
  --platinum: #e9ebea;
  --arctic-lime: #d2ff00;
  --bitter-lime: #b3f700;
  --lime-green: #00c41f;
  --eerie-black: #13181b;
  --silver: #c4c4c4;

  --nav-text-size: 1.4rem;
  --text-size: 1.2rem;
  --header-size: 1.7rem;
  --small-text-size: 0.9rem;
}

/* highlights */
::selection {
  color: rgb(0, 0, 0);
  background: #b3f700;
}

/* RGB button */
.RGB {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.RGB::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.RGB:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.RGB,
.RGB::after {
  box-sizing: border-box;
}

.RGB:active {
  --border-width: 5px;
}

/*The use of this class and colors stored in variables ensures our ability to switch between color themes in the future.*/
.dark-theme {
  --bg-color: var(--eerie-black);
  --nav-bg-color: var(--bitter-lime);
  --text: var(--platinum);
  --text-alternative: var(--eerie-black);
}

/* This catch-all at the beginning removes all default margin and padding spacings to allow for maximum customizability later. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  height: 100%;
  width: 100%;
  min-width: 545px;
  font-family: "Roboto", sans-serif;

  /* using flexbox here in the column direction allows us to use the flex-grow attribute on the main element to enforce proper use of space. This will be especially helpful if/when we wish to implement a footer that is stickied to the bottom of the visible screen. */
  display: flex;
  flex-direction: column;
}

nav {
  /* using flexbox to align the navbar items in a horizontal line with even spaces inbetween */
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--nav-bg-color);
  color: var(--text-alternative);
  border-radius: 25px;
  padding: 0.4%;
  margin: 1%;
}

main {
  /* this flex-grow ensures that the main element uses up all available space in the body. This way, if in the future we add a footer element to the home.html body element, it will be positioned at the bottom instead of just underneath the last element inside the main element. */
  /* flex-grow: 1; */

  padding: 5%;

  /* this use of flexbox allows us to center all the headers, paragraphs and forms. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: var(--nav-text-size);
  text-align: center;
}
h2,
h3 {
  font-size: var(--header-size);
  text-align: center;
}
p {
  font-size: var(--text-size);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5%;
}

#usernameBoxAndBtn {
  display: flex;
  justify-content: center;
}

#loginText {
  padding-top: 2%;
  font-size: var(--small-text-size);
  text-decoration: underline;
  text-align: center;
  text-decoration-color: grey;
}

#usernameBox {
  margin: 0 10px 0 0;
  background-color: var(--silver);
  text-align: center;
  padding: 3% 20%;
  border-radius: 15px;
  font-size: 1rem;
}

/* add padding to github link logo to center the text*/
.githublink {
  padding-left: 20%;
}

/* change placeholder text color from default light gray. */
::placeholder {
  color: var(--text-alternative);
  font-size: 1rem;
}

button {
  margin: 0 0 0 10px;
  background-color: var(--bitter-lime);
  border: none;
  color: var(--text-alternative);
  padding: 27.5% 50px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1rem;
}

/* remove unordered list bullets */
.list-developers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-developers ul {
  margin: 20px;
  text-align: center;
  list-style-type: circle;
  font-size: var(--text-size);
}

li {
  padding-bottom: 5px;
}

.logolink {
  padding-right: 5%;
}

h2 {
  padding-bottom: 3%;
}

h3 {
  padding-top: 5%;
}

.description {
  width: 65%;
}

@media only screen and (max-width: 480px) {
  body {
    min-width: 450px;
  }

  main {
    padding: 5% 3% 3% 3%;
  }

  nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navheading {
    padding: 10px 0 5px 0;
    order: 3;
  }

  .githublink {
    padding: 0;
    order: 2;
  }

  .logolink {
    padding: 0;
    order: 1;
  }

  .list-developers {
    flex-direction: column;
    align-items: center;
  }

  .list-developers ul {
    width: fit-content;
    margin: 0;
  }

  h3 {
    padding-bottom: 10px;
  }

  .description {
    width: 100%;
  }

  form {
    width: 95%;
  }
  
  #usernameBox {
    padding: 4% 10%;
  }

}
