/* css for movie info page */
:root {
  --platinum: #e9ebea;
  --arctic-lime: #d2ff00;
  --bitter-lime: #b3f700;
  --lime-green: #00c41f;
  --eerie-black: #13181b;
  --silver: #c4c4c4;

  --nav-text-size: 1.4rem;
  --text-size: 1.2rem;
  --header-size: 1.7rem;
  --small-text-size: 0.9rem;
}

/* highlights */
::selection {
  color: rgb(0, 0, 0);
  background: #b3f700;
}

/*The use of this class and colors stored in variables ensures our ability to switch between color themes in the future.*/
.dark-theme {
  --bg-color: var(--eerie-black);
  --nav-bg-color: var(--bitter-lime);
  --text: var(--platinum);
  --text-alternative: var(--eerie-black);
}

/* This catch-all at the beginning removes all default margin and padding spacings to allow for maximum customizability later. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  height: 100%;
  width: 100%;
  min-width: 545px;
  font-family: "Roboto", sans-serif;

  /* using flexbox here in the column direction allows us to use the flex-grow attribute on the main element to enforce proper use of space. This will be especially helpful if/when we wish to implement a footer that is stickied to the bottom of the visible screen. */
  display: flex;
  flex-direction: column;
}

nav {
  /* using flexbox to align the navbar items in a horizontal line with even spaces inbetween */
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--nav-bg-color);
  color: var(--text-alternative);
  border-radius: 25px;
  padding: 0.4%;
  margin: 1%;
}

main {
  padding: 5% 3% 3% 3%;

  /* this use of flexbox allows us to center all the headers, paragraphs and forms. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: var(--nav-text-size);
  text-align: center;
}

h2 {
  font-size: var(--header-size);
  text-align: center;
}
h3 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.about_column > h3 {
  padding-bottom: 12%;
}

.title_column > p {
  padding-bottom: 1%;
}

span {
  font-size: var(--text-size);
  font-weight: normal;
}

/* add padding to github link logo to center the text*/
.githublink {
  padding-left: 20%;
}

button {
  margin: 0 0 0 10px;
  background-color: var(--bitter-lime);
  border: none;
  color: var(--text-alternative);
  padding: 12px 60px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1rem;
}

.movie_info_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 90%;
  padding-bottom: 10px;
}

.movie_image {
  border-style: solid;
  border-color: var(--arctic-lime);

  width: fit-content;
  height: fit-content;
}

/* Cancel button position*/
.cancel_btn_container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2%;
}

/* 3 Column Containers: Title Column, About Column and Plot Column*/
.title_column {
  line-height: 3vw;
}
.about_column {
  padding: 0 3.5% 15% 3.5%;
}
.plot_column {
  width: 80vw;
}

/* Title Headers positions*/
.title_header {
  padding-bottom: 2vw;

  display: flex;
  justify-content: center;
}
.about_header {
  padding-bottom: 4.5vw;

  display: flex;
  justify-content: center;
}
.plot_header {
  padding-bottom: 12.5%;
}

.plot_header + p {
  font-size: 1.4rem;
}

/* fancy button */
button {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: var(--bitter-lime);
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

button:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

button:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

button:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

button:active {
  transform: scale(0.9);
}

/* Background Animation */
.bg {
  animation:slide 75s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, #000 50%, var(--bitter-lime) 50%);
  bottom:0;
  left:-100%;
  opacity:.2;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:50s;
}

.bg3 {
  animation-duration:25s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/* Background animaton ends here*/



/* Media query */

@media only screen and (max-width: 480px) {
  body {
    min-width: 450px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navheading {
    padding: 10px 0 5px 0;
    order: 3;
  }

  .githublink {
    padding: 0;
    order: 2;
  }

  .logolink {
    padding: 0;
    order: 1;
  }

  .cancel_btn_container {
    justify-content: center;
    padding-bottom: 10%;
  }

  .movie_info_container {
    flex-direction: column;
  }

  .title_header {
    padding-bottom: 7%;
  }

  .title_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;
  }

  .title_column > h3 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .title_column > p {
    padding-bottom: 3%;
  }

  .about_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about_column > h3 {
    padding-bottom: 3%;
    text-align: center;
  }

  .plot_column {
    width: 100%;
  }

  .plot_column > p {
    text-align: center;
  }

  .plot_header {
    padding-bottom: 10%;
  }

}