:root {
  --platinum: #e9ebea;
  --arctic-lime: #d2ff00;
  --bitter-lime: #b3f700;
  --lime-green: #00c41f;
  --eerie-black: #13181b;
  --silver: #c4c4c4;

  --nav-text-size: 1.4rem;
  --text-size: 1.2rem;
  --header-size: 1.7rem;
  --small-text-size: 0.9rem;
}

/* highlights */
::selection {
  color: rgb(0, 0, 0);
  background: #b3f700;
}

/*The use of this class and colors stored in variables ensures our ability to switch between color themes in the future.*/
.dark-theme {
  --bg-color: var(--eerie-black);
  --nav-bg-color: var(--bitter-lime);
  --text: var(--platinum);
  --text-alternative: var(--eerie-black);
}

/* This catch-all at the beginning removes all default margin and padding spacings to allow for maximum customizability later. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  height: 100%;
  width: 100%;
  min-width: 545px;
  font-family: "Roboto", sans-serif;

  /* using flexbox here in the column direction allows us to use the flex-grow attribute on the main element to enforce proper use of space. This will be especially helpful if/when we wish to implement a footer that is stickied to the bottom of the visible screen. */
  display: flex;
  flex-direction: column;
}

nav {
  /* using flexbox to align the navbar items in a horizontal line with even spaces inbetween */
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--nav-bg-color);
  color: var(--text-alternative);
  border-radius: 25px;
  padding: 0.4%;
  margin: 1%;
}

main {
  /* this flex-grow ensures that the main element uses up all available space in the body. This way, if in the future we add a footer element to the home.html body element, it will be positioned at the bottom instead of just underneath the last element inside the main element. */
  /* flex-grow: 1; */

  padding: 5% 3% 3% 3%;

  /* this use of flexbox allows us to center all the headers, paragraphs and forms. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: var(--nav-text-size);
  text-align: center;
}

.title_row > h1 {
  width: 40%;
}

h2 {
  font-size: var(--header-size);
  text-align: center;
}

/* add padding to github link logo to center the text*/
.githublink {
  padding-left: 20%;
}

.title_row form {
  height: 60%;
}

/* Button Animation */
button {
  margin: 0 0 0 10px;
  background-color: var(--bitter-lime);
  border: none;
  color: var(--text-alternative);
  padding: 12px 60px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
button:hover,button:active{
  text-shadow: 0 1px 10px var(--arctic-lime);
  color: var(--arctic-lime);
  background-color: var(--eerie-black);
  box-shadow: 1px 1px 5px 2px var(--arctic-lime);
  border-radius: 5px;
}




.title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

table {
  text-align: center;
  width: 90%;
  border-collapse: collapse;
}

table tr {
  height: 3rem;
}

table button {
  margin: 0 0 0 10px;
  background-color: var(--bitter-lime);
  border: none;
  color: var(--text-alternative);
  padding: 4px 15px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1rem;
}

/* Hover Effects for Delete buttons */
.delete_button {
  background-color: rgb(203, 65, 65);
  transition: all 0.2s ease-in-out;
}

.delete_button:hover,.delete_button:active{
  text-shadow: 0 1px 5px rgb(203, 65, 65);
  color: red;
  background-color: var(--eerie-black);
  box-shadow: 1px 1px 5px 2px red;
}



/* Hover Effects for table headers */
table th{
  transition: all 0.2s ease-in-out;
}
table th:hover{
  text-shadow: 0 1px 10px var(--arctic-lime);
  color: var(--arctic-lime);
  background-color: var(--eerie-black);
  box-shadow: 2px 5px 5px 3px var(--eerie-black);
}


#table_header_row {
  background-color: var(--bitter-lime);
  color: var(--eerie-black);
  font-size: large;
  font-weight: bold;
}



tr:nth-child(even) {
  background-color: #dddddd;
}

.table_row_odd {
  background-color: var(--platinum);
  color: var(--eerie-black);
  font-weight: bold;
}

.table_row_even {
  background-color: var(--silver);
  color: var(--eerie-black);
  font-weight: bold;
}

/* this ensures that the edit and delete buttons are side by side despite both being wrapped in form elements */
.action_buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 0.7rem;
}

/* .watched and .unwatched corresponds to the status of movie */
.watched {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  background-color: var(--lime-green);
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
}

.unwatched {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  background-color: rgb(203, 65, 65);
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
}

.logolink {
  padding-right: 5%;
}

h2 {
  padding-bottom: 3%;
}

h3 {
  padding-top: 5%;
}



/* Background Animation */
.bg {
  animation:slide 75s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, #000 50%, var(--bitter-lime) 50%);
  bottom:0;
  left:-100%;
  opacity:.2;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:50s;
}

.bg3 {
  animation-duration:25s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/* Background animaton ends here*/






@media only screen and (max-width: 480px) {
  body {
    min-width: 450px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navheading {
    padding: 10px 0 5px 0;
    order: 3;
  }

  .githublink {
    padding: 0;
    order: 2;
  }

  .logolink {
    padding: 0;
    order: 1;
  }

  .title_row {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .title_row > h1 {
    width: 100%;
    padding-bottom: 15px;
  }

  table {
    min-width: 100%;
  }

  .action_buttons_container {
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
    padding: 0;
  }

  .table_row_odd {
    height: 25vh;
  }
}

/* Search bar */

#searchbar {
  padding: 0.6%;
  border-radius: 0.5rem;
}

#searchbar:focus {
  background-color: #dddddd;
}

/* table header round */

th:first-of-type {
  border-top-left-radius: 1rem;
}
th:last-of-type {
  border-top-right-radius: 1rem;
}
